<div class="footer-wrap">
    <footer>
        <p class="footer">&#9400;Concert Connect</p>
        <a class="footer" href="/about">About</a>
        <a class="footer" href="/contact">Contact</a>
    </footer>
</div>