<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Concert Connect</title>
  <meta name="author" content="Joseph Ahrendsen">
  <link rel="stylesheet" href="/assets/stylesheets/app.css">
  <script src=""></script>
</head>

<body>
    <%- include('partials/header') -%> 
    <%- include('partials/navigation') -%> 
        
    <div class="connection">
        <h3>About</h3>
        <p class="connection">Concert Connect was designed and built by Joseph Ahrendsen. The purpose of this web application is to 
            connect UNC Charlotte students going to the same concert. All you have to do is pick a genre and upcoming concert and we'll 
            connect you with other interested students. Enjoy the app!
        </p>
        <br><br>   
        <h6>Image Sources</h6>
        <p class="connection">“Queen” Rollingstone.com, "AC/DC" independent.co.uk, "Bon Jovi" Bonjovi.com, 
            "Red Hot Chili Peppers" seeklogo.com, "Guns and Roses" loudwire.com, "Metallica" theguardian.com, "Country Music" thestreet.com,
            "Indie Music" lifewire.com, "Jazz Music" lansingstatejournal.com, "Pop Music" liveabout.com    
        </p>
    </div>

    <%- include('partials/footer') -%> 
</body>
</html>