<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Concert Connect</title>
  <meta name="author" content="Joseph Ahrendsen">
  <link rel="stylesheet" href="/assets/stylesheets/app.css">
  <script src=""></script>
</head>

<body>
    <%- include('partials/header') -%> 
    <%- include('partials/navigation') -%> 
        
    <main>
        <h2>Creator: Joseph Ahrendsen</h2>
        <h5>Email: jahrends@uncc.edu</h5>
    </main>

    <%- include('partials/footer') -%> 
</body>
</html>