<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Concert Connect</title>
  <meta name="author" content="Joseph Ahrendsen">
  <link rel="stylesheet" href="/assets/stylesheets/app.css">
  <script src="js/app.js"></script>
</head>

<body>
    <%- include('partials/header') -%> 
    <%- include('partials/navigation') -%> 
    
    <main>
        <h2>Stay on top of all the latest concerts with Concert Connect!</h2>
        <p class="intro">Concert Connect provides a way to connect 
            with other UNC Charlotte students going to concerts. You can select a style of music from the available 
            categories and then pick an artist that you are most interested in. From there you can learn more about
            the specific event and meet a friend to go with you! 
        </p>
        <p class="intro">Check out the <b>Genres</b> tab to browse different genres.</p>

        <div class="img-wrapper">
            <img id="uncc" src="/assets/images/49ers.jpg" alt="uncc">
            <img id="concert" src="/assets/images/concert.jpg" alt="concert">
        </div>
    </main>

    <%- include('partials/footer') -%> 
</body>
</html>